<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=BicycleFactory;Integrated Security = True"/>
	</connectionStrings>
	
	<!--<appSettings>
		<add key="ParentTableName" value="Depots"/>
		<add key="ChildTableName" value ="Employees"/>
		<add key="ParentSelectQuery" value="select * from Depots"/>
		<add key="ChildSelectQuery" value="select * from Employees where DepotID=@parentKey"/>
		<add key="ChildInsertQuery" value="insert into Employees(DepotID, FirstName, LastName, BirthDate, Income) values (@parentKey, @column1, @column2, @column3, @column4)"/>
		<add key="ChildUpdateQuery" value="update Employees set FirstName=@column1, LastName=@column2, BirthDate=@column3, Income=@column4 where EmployeeID=@childKey"/>
		<add key="ChildDeleteQuery" value="delete from Employees where EmployeeID=@childKey"/>
		<add key="ParentKeyName" value="DepotID"/>
		<add key="ChildKeyName" value="EmployeeID"/>
		<add key="ChildColumnNames" value="FirstName,LastName,BirthDate,Income"/>
		<add key="ChildColumnTypes" value="0,0,1,0"/>
		<add key="ChildNumberOfColumns" value="4"/>
	</appSettings>-->

	<appSettings>
		<add key="ParentTableName" value="Customers"/>
		<add key="ChildTableName" value ="Orders"/>
		<add key="ParentSelectQuery" value="select * from Customers"/>
		<add key="ChildSelectQuery" value="select * from Orders where CustomerID=@parentKey"/>
		<add key="ChildInsertQuery" value="insert into Orders(CustomerID, DeliveryID, CardInfo, ETA, AddressDelivery) values (@parentKey, @column1, @column2, @column3, @column4)"/>
		<add key="ChildUpdateQuery" value="update Orders set DeliveryID=@column1, CardInfo=@column2, ETA=@column3, AddressDelivery=@column4 where OrderID=@childKey"/>
		<add key="ChildDeleteQuery" value="delete from Orders where OrderID=@childKey"/>
		<add key="ParentKeyName" value="CustomerID"/>
		<add key="ChildKeyName" value="OrderID"/>
		<add key="ChildColumnNames" value="DeliveryID,CardInfo,ETA,AddressDelivery"/>
		<add key="ChildColumnTypes" value="0,0,1,0"/>
		<add key="ChildNumberOfColumns" value="4"/>
	</appSettings>


</configuration>